// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$light-yellow: #FEF8EB;
$pale-range: #FCEFD8;
$orange: #F2B64D;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000000;
