.home-header {
  text-align: center;
  margin-bottom: 32px;
}

.news-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  a:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  .loader-dots {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &.inactive { display: none !important; }
}