html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  padding: 32px 24px 16px 24px;
  max-width: 640px;
  flex: 1 0 auto;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background: $light-yellow;
  border: 2px solid $black;
  border-radius: 16px;
}