.main-container {
  padding: 32px 24px 16px 24px;
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: $light-yellow;
  border: 2px solid $black;
  border-radius: 16px;
}