.break {
  flex-basis: 100%;
  height: 0;
}

#subscribe-form-container {
  input {
    width: 100%
  }

  input[type="email"] { 
    margin-bottom: 8px;
    height: 56px;
    border-radius: 16px;
    text-align: center;
    border: 1px solid $black;
  }
}