a {
  color: $black;

  &:hover {
    font-weight: 700;
    color: $black;
  }
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

.article-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.no-underline {
  text-decoration: none !important;
}

.left-icon-text i {
  margin-right: 4px;
}